.kaufman {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #1F1F1F;
    padding: 90px 0 90px;
    overflow: hidden;
  }